<section class="card-component">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">City Task</h2>
            </div>
            <div class="col-lg-3 col-md-4" *ngFor="let city of cities">
                <div class="city">
                    <div class="city-header">
                        <div class="city-flg">
                            <img [src]="city.NationFlag" mat-card-avatar>
                            <mat-card-title class="city-nation">{{city.Nation}}</mat-card-title>
                        </div>
                        <div class="cit-img">
                            <img [src]="city.CityImage" mat-card-image> 
                        </div>
                    </div>
                    <div class="city-body">
                        <div class="city-name">
                            <mat-card-subtitle>{{city.CityName}}</mat-card-subtitle>
                        </div>
                        <div class="city-description">
                            <mat-card-content>{{city.Description}}</mat-card-content>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2 justify-content-between" role="group" aria-label="Basic example">
                        <button 
                            type="button" 
                            class="btn btn-success"
                            (click)="addPop()" >Grow</button>
                        <button 
                            type="button" 
                            class="btn btn-danger" 
                            (click)="decPop()"
                            [disabled]="population < 5000000" >Nuke</button>
                    </div>
                    <span class="d-flex" style="align-items: center;">
                        <small class="badge badge-secondary mr-2 p-2">
                            population: 
                        </small> 
                        {{population}}               
                    </span>
                </div>              
            </div>      
        </div>
    </div>    
</section>